.App {
  text-align: center;
}
h1,
h2 {
  color: purple;
  font-size: 2em;
}
.task {
  color: red;
}

span {
  color: black;
}

.person {
  margin-left: 30%;
  width: 40%;
  height: 200px;
  background-color: rgb(196, 193, 193);
  font-size: 30px;
}

.name {
  color: red;
}

.number {
  color: blue;
}